<h1>All Buckets and Questions</h1>
<p>
 Download:
  <%= link_to "CSV", buckets_path(format: "csv") %> |
  <%= link_to "Excel", buckets_path(format: "xls") %>
</p>
<% @buckets.each do |bucket| %>
  <h2>
    Bucket name:
    <%=bucket.name%>   
  </h2>
  <span>
    <% bucket.questions.each do |question| %>    
      <li>
        <%=question.content %>
      </li>
    <% end %>
  </span>
<% end %> 